.border{
    border:2px solid rgb(19, 18, 18);
    width:200px;

}
.flex{
    display:flex;
}
.justify{
    justify-content: center;
}
.items{
    align-items: center;
}

 .bg-black{
    background-color: black;
    color:white;

}
.invert{
    filter:invert(1);
}
.bg-grey{
    background-color:  #121212;
    
}
.rounded{
    border-radius:7px;

}
.m-1{

    margin:5px;
}
.p-1{
    padding:10px;
}
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #2c2c2c; /* Background of the track */
}

::-webkit-scrollbar-thumb {
    background: #555; /* Color of the scrollbar handle */
    border-radius: 10px; /* Rounded corners for the handle */
}

::-webkit-scrollbar-thumb:hover {
    background: #777; /* Color when hovering over the handle */
}

/* For Firefox */
scrollbar-width : thin; /* Makes the scrollbar thinner */
scrollbar-color : #555 #2c2c2c; /* Handle color and track color */
